* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.cg-button {
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.279);
  transition: all 2s ease;
  font-weight: bold;
  background-color: #fff;
}
.cg-button:active {
  transform: scale(0.8);
}
